mixin head_section(data)
	.section_head(class=`${data.class}__head`)
		if (data.title)
			h2.section_head__title(data-scr)= data.title
		if (data.subtitle)
			.section_head__subtitle(data-scr)= data.subtitle