//---------------------------------------------ohter_icons
.icon {
	display: block;
	width: 100%;
	height: 100%;

	fill: currentColor;
}

.icon_twitter {
	max-width: 2.7rem;
	max-height: 2.2rem;
}

.icon_dribbble {
	max-width: 2.4rem;
	max-height: 2.4rem;
}

.icon_skype {
	max-width: 2.8rem;
	max-height: 2.8rem;
}

.icon_linkedin {
	max-width: 2.4rem;
	max-height: 2.5rem;
}
