extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'LetUsMake'}
block content_block
	include ../blocks/hero_section
	include ../blocks/work_section
	include ../blocks/team_section
	include ../blocks/contact_section
