.footer {
	display: grid;
	align-items: center;

	width: 100%;
	min-height: var(--height-footer);
	flex: 0 0 auto;

	padding: 2rem var(--gl-indent);

	background-color: $grey_1;
}

.footer_in {
	display: flex;

	width: 100%;
	max-width: $page_width;
	margin: 0 auto;

	gap: 2rem;

	@include bp($point_4 - 1) {
		flex-direction: column;
	}
}

.footer___address {
	font-size: 1.6rem;
	line-height: 1.56;
	color: $grey_5;

	@extend %transition_color;
	&:hover {
		color: $white;
	}
}

.footer___address_label {
	color: $grey_4;
}

.footer___copy {
	font-size: 1.6rem;
	line-height: 1.56;
	color: $grey_5;

	@include bp($point_4, min) {
		margin-left: auto;
	}
}
